html

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #0c0c0c;
}

.container-fluid {
  width: 100%;
}

a {
  color: white;
  margin-top: 20px;
}

.row {
  float: left;
}

.main {
  height: 745px;
  width: 100%;
  background-color: white;
}

.wrapper {
  width: 90%;
  margin-left: auto;
}
