html

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.nav {
  height: 60px;
  width: auto;
  background-color: #0c0c0c;
}

.reddot {
  background: red;
  height: 5px;
  width: 5px;
  border-radius: 100%;
}

.tvborder {
  border: 1px solid white;
}

.livetvtext {
  color: grey;
}

a {
  color: #bfbfbf;
  margin-bottom: 50px;
}

.row {
  float: left;
}

.navspacing {
  padding-left: 20px;
  margin-top: 15px;
}

.main {
  height: 745px;
  width: 100%;
}
