.main {
  height: 745px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: block;
}

.head {
  height: 60px;
  width: 100%;
  background-color: black;
}

img {
  margin-left: auto;
}
